#root {
  text-align: center;
}

.navigate{
  text-decoration: none;
  color: #F5EFFF;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid white;
  padding: 15px 25px;
  border-radius: 8px;
  transition: all 0.2s linear;
}
.navigate:hover{
  color: #A294F9;
  background-color: white;
}
.header{
  background-color: #A294F9;
  width: 100%;
}

body{
  background: white !important;
}

label{
  display: flex !important;
  color: #D7D3BF;
}

.form-control{
  background-color: transparent !important;
  color: #ECEBDE !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  border: 1px solid #ECEBDE !important;
  outline: none !important;
}
.form-control:focus{
  box-shadow: 0px 0px 5px 2px white !important;
}
.form-control::placeholder{
  color: #ECEBDE !important;
}

.primary, .success, .danger{
  background-color: transparent !important;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}
.primary svg, .danger svg, .success svg{
  height: 25px;
  transition: all .2s ease-in-out;
}
.primary:hover, .primary:hover svg{
  background-color: #0d6efd !important;
  fill: white;
}
.danger:hover, .danger:hover svg{
  background-color: #dc3545 !important;
  fill: white;
}
.success:hover, .success:hover svg{
  background-color: #198754 !important;
  fill: white;
}
.btn:focus{
  box-shadow: 0px 0px 5px 2px white !important;
}

.navbar .nav{
  position: relative; 
  z-index: 1;
}

.navbar:nth-child(2):hover .nav:nth-child(1) ~ .slide {
  left: -15px;
}

/* Card Design */
.recipe-tabs-container{
  width: 1320px;
}
.recipe-card {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.2s linear;
}
.recipe-card-show{
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  font-family: Arial, sans-serif;
  transition: all 0.2s ease-in-out;
}

.recipe-card:hover, .recipe-card-show:hover{
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
  transform: translateY(-15px);
}

.recipe-card-header {
  position: relative;
}
.recipe-card-image{
  width: 100%;
  height: 350px;
  object-fit: contain;
}
.recipe-card-image-view {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.recipe-card-title {
  position: absolute;
  top: 8px;
  left: 12px;
  right: 12px;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-card-body {
  padding: 16px;
  text-align: center;
}

.recipe-card-body h2{
  margin: 0;
  font-size: 24px;
  color: #645353;
}

.recipe-card-body h4{
  color: #645353;
  font-size: 22px;
}

.recipe-info {
  display: flex;
  justify-content: space-around;
  margin: 12px 0;
}

.recipe-info div {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #555;
}

.icon {
  font-size: 16px;
}

.recipe-description {
  font-size: 16px;
  color: #666;
  margin: 12px 0;
}

.view-recipe-button {
  background-color: #A294F9 ;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-recipe-button:hover {
  background-color: #e63d6b;
}